body {
    background-color: #A2E3C4;
    padding: 10px;
    font-family: Roboto,
        Arial,
        sans-serif;

    text-align: left;
    display: block;


}

* {
    margin: 1rem 3px;
}

footer {
    background-color: #A6A2A2;
    width: 400px;
    padding: 10px;
    margin-top: 20px;
    height: auto;
}

h1 {
    color: white;
    background-color: black;

    width: 400px;
    text-align: center;
}

.stars input[type=radio] {
    margin-right: 10px;

}

.stars {
    display: flex;
    flex: 1;
}



#text-area {
    width: 400px;
    height: 100px;
}

input[type=date],
input[type=submit] {
    width: 400px;
}

input[type=text] {
    margin-bottom: 40px;

}