:root {
    --background-small: white;
    --label-color: #F3FCF0;
    --img: 100%;
    max-width: 100%;
}

h1 {
    color: white;
}

h1:hover {
    color: black;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Sansita", sans-serif;
    box-sizing: border-box;
    background-color: var(--background-small);
    justify-content: center;


}

main {
    max-width: 100%;
}



.hero img {
    height: 50%;
    width: 100%;

}



h2 {
    width: 100%;
    border: 2px;
    color: black;
    text-align: center;


}

li {
    text-align: center;
    list-style: none;
    font-weight: lighter;
    display: block;
    margin: 10px 20px;
    padding: 0;
}

.section2 h2::after {
    content: "⛅";
    display: block;
}



p {
    text-align: center;

}

nav {
    background-color: white;
    color: #1100ff;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
}

footer {
    background-color: #083D77;
    color: white;
    text-align: center;
}

h1 {
    background-color: #083D77;
    text-align: center;
    width: 100%;

    margin: 0;
    font-size: 2rem;
}