@media screen and (max-width: 480px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .navigation {
        display: none;
    }

    h1 {
        font-size: 25px;
    }

    body {
        font-family: Roboto, sans-serif;
    }

    #grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    a {
        display: none;
    }


    #menu {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        text-decoration: none;
        padding: .20rem .15rem;
        background-color: blueviolet;
        color: #000;
    }

    #menu::after {
        content: "≡";
    }

    #menu.show::after {
        content: "X";
    }

    li a {
        display: block;
    }


    .show.navigation {
        display: block;
        background-color: blueviolet;
    }


}