body {
    font-family: Roboto;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: black 2px solid;
    padding: 2px;
    background: #9CF6F6;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #FCF5C7;
}